<h1>Bienvenido al curso de Ruby on Rails 3 en código facilito</h1>
<h1> esta es mi primera vista</h1>
<h2>Tutor: <%= @tutor %></h2>
<p>Find me in app/views/welcome/index.html.erb</p>

<!--<% @limite.times do  %>
    <p><%=@mensaje %></p>

<% end %>
-->


<% @limite.times do  %>
    <p><%=@mensaje %></p>

<% end %>

<footer>
    
    <p>By: <%= @tutor %></p>
</footer>
