<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!-- ESTÁ ENLAZANDO LOS ESTILOS MEDIANTE UN HELPER METHOD:
  ES UN MÉTODO QUE AYUDA A OTRO MÉTODO A DESARROLLAR OTRAS TAREAS COMPLICADAS.
  EN ESTE CASO, EL HELPER METHOD AGREGA LAS HOJAS DE ESTILO EN CADA LAYOUT
  
  -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    
    <h1>Layout Ejemplo</h1>
  </header>

<!--ejecuta la página y le embebe dentro del layout. Por ejemplo
esta carga aquí index.html.erb-->
<%= yield %>
    <p>Este mensaje viene del layout de ejemplo</p>

</body>
</html>